<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="/static/css/estilo2.css">
  <link href="../static/css/boton_regresar.css" rel="stylesheet">
</head>
<body>
<div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">
    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="{{url_for('static', filename='imagenes/ca.png')}}" alt="Brohm Lake">
        <figcaption>Cargador</figcaption>
      </figure>
    </div>
    <div class="card-back">
      <figure>
        <div class="img-bg"></div>
        <img src="{{url_for('static', filename='imagenes/ace2.png')}}" alt="Brohm Lake">
      </figure>
      
      <a href="/templates/ropa.html">
      <button>90$</button>
    </a>
      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>
  </div>
</div>
<div class="flip-card-container" style="--hue: 170">
  <div class="flip-card">

    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="{{url_for('static', filename='imagenes/ta.png')}}" alt="Image 2">
        <figcaption>Tapetes</figcaption>
      </figure>
      
    </div>
    <div class="card-back">
      <figure>
        <div class="img-bg"></div>
        <img src="{{url_for('static', filename='imagenes/amo2.png')}}" alt="image-2">
      </figure>
      <button>850$</button>
      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>
  </div>
</div>
<div class="flip-card-container" style="--hue: 350">
  <div class="flip-card">
    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="{{url_for('static', filename='imagenes/cu.png')}}" alt="Brohm Lake">
        <figcaption>Cubre asiento</figcaption>
      </figure>
    
    </div>
    <div class="card-back">
      <figure>
        <div class="img-bg"></div>
        <img src="{{url_for('static', filename='imagenes/anti2.png')}}" alt="Brohm Lake">
      </figure>
      <button>350$</button>
      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>
  </div>
</div>
<div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/ar.png')}}" alt="Brohm Lake">
          <figcaption>Aromatizante</figcaption>
        </figure>
       
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/balatas2.png')}}" alt="Brohm Lake">
        </figure>
        <button>100$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/vo.png')}}" alt="Brohm Lake">
          <figcaption>Volante</figcaption>
        </figure>
        <ul>
      
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/dire2.png')}}" alt="Brohm Lake">
        </figure>
        <button>300$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/bot.png')}}" alt="Brohm Lake">
          <figcaption>Botones</figcaption>
        </figure>
       
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/liq2.png')}}" alt="Brohm Lake">
        </figure>
        <button>100$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/ra.png')}}" alt="Brohm Lake">
          <figcaption>Esterio</figcaption>
        </figure>
       
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/caja2.png')}}" alt="Brohm Lake">
        </figure>
        <button>2000$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/so.png')}}" alt="Brohm Lake">
          <figcaption>Sopote para celular</figcaption>
        </figure>
        
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/rin2.png')}}" alt="Brohm Lake">
        </figure>
        <button>350$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/ven.png')}}" alt="Brohm Lake">
          <figcaption>Ventilador</figcaption>
        </figure>
       
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/refacciones2.png')}}" alt="Brohm Lake">
        </figure>
        <button>200$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>

<a href="/productos">
  <button class="button" type="button">
    <svg viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
      <path d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" fill-rule="evenodd"></path>
    </svg>
    Regresar 
  </button>
</a>
