<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB BEKS</title>
  <link rel="stylesheet" href="/static/css/estilo2.css">
  <link href="../static/css/boton_regresar.css" rel="stylesheet">
</head>
<body>
<div class="flip-card-container" style="--hue: 220">
  <div class="flip-card">
    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="/static/imagenes/chamarra2.png" alt="Brohm Lake">
        <figcaption>Jacket</figcaption>
      </figure>
      
    </div>
    <div class="card-back">
      <figure>
        <div class="img-bg"></div>
        <img src="/static/imagenes/chamarra.png" alt="Brohm Lake">
      </figure>
      
      <a href="/templates/ropa.html">
      <button>9000$</button>
    </a>
      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>
  </div>
</div>
<div class="flip-card-container" style="--hue: 170">
  <div class="flip-card">

    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="{{url_for('static', filename='imagenes/ropa1.png')}}" alt="Image 2">
        <figcaption>V12</figcaption>
      </figure>
    
    </div>
    <div class="card-back">
      <figure>
        <div class="img-bg"></div>
        <img src="{{url_for('static', filename='imagenes/ropa2.png')}}" alt="image-2">
      </figure>
      <button>850$</button>
      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>
  </div>
</div>
<div class="flip-card-container" style="--hue: 350">
  <div class="flip-card">
    <div class="card-front">
      <figure>
        <div class="img-bg"></div>
        <img src="{{url_for('static', filename='imagenes/blusa2.png')}}" alt="Brohm Lake">
        <figcaption>Blusa r3</figcaption>
      </figure>
      
    </div>
    <div class="card-back">
      <figure>
        <div class="img-bg"></div>
        <img src="{{url_for('static', filename='imagenes/blusa.png')}}" alt="Brohm Lake">
      </figure>
      <button>350$</button>
      <div class="design-container">
        <span class="design design--1"></span>
        <span class="design design--2"></span>
        <span class="design design--3"></span>
        <span class="design design--4"></span>
        <span class="design design--5"></span>
        <span class="design design--6"></span>
        <span class="design design--7"></span>
        <span class="design design--8"></span>
      </div>
    </div>
  </div>
</div>
<div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/for2.png')}}" alt="Brohm Lake">
          <figcaption>Ferrari</figcaption>
        </figure>
       
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/for.png')}}" alt="Brohm Lake">
        </figure>
        <button>600$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/bolsa2.png')}}" alt="Brohm Lake">
          <figcaption>Golden BAG21</figcaption>
        </figure>
       
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/bolsa.png')}}" alt="Brohm Lake">
        </figure>
        <button>670$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/r2.png')}}" alt="Brohm Lake">
          <figcaption>Import</figcaption>
        </figure>
       
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/r.png')}}" alt="Brohm Lake">
        </figure>
        <button>750$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/po2.png')}}" alt="Brohm Lake">
          <figcaption>Suderma V18</figcaption>
        </figure>
      
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/po.png')}}" alt="Brohm Lake">
        </figure>
        <button>390$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/ve2.png')}}" alt="Brohm Lake">
          <figcaption>Witnnes</figcaption>
        </figure>
       
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/ve.png')}}" alt="Brohm Lake">
        </figure>
        <button>500$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/a2.png')}}" alt="Brohm Lake">
          <figcaption>Black V12</figcaption>
        </figure>
       
      </div>
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{url_for('static', filename='imagenes/a.png')}}" alt="Brohm Lake">
        </figure>
        <button>950$</button>
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>

<a href="/productos">
  <button class="button" type="button">
    <svg viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
      <path d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" fill-rule="evenodd"></path>
    </svg>
    Regresar 
  </button>
</a>



